* text eol=lf
*.onnx -text binary

# Trata imágenes y binarios como binarios (sin conversión de eol)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.mp3 binary
*.wav binary
*.pdf binary
