.venv/
__pycache__/
*.pyc
*.wav
*.mp3
external/*
.vscode
*/*.txt
*/*.txt
*.pdf

# Ignorar todas las carpetas de datos y medios
/data/
/media/

# Archivos específicos de Docker y del sistema operativo
.DS_Store
*.log